
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form method="post" action="/HelperSample/Index">
    <input type="text" />
</form>

@*@Html.BeginForm(FormMethod.Post, )

@Html.EndForm()*@

@using (Html.BeginForm())
{

}

