
@{
    ViewData["Title"] = "CreateBook";
}

<h2>Add a book...</h2>

<form action="/ViewsDemo/CreateBook" method="post">
    <input type="text" id="title" name="title" />
    <br />
    <input type="text" id="publisher" name="publisher" />
    <br />
    <input type="text" id="isbn" name="isbn" />
    <input type="submit" value="Submit" />
</form>

